.container {
    display: flex;
    width: 80%;
    height: 92vh;
    margin: 2% auto;
    border: solid #000 2px;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}