.container {
    display: flex;
    height: 36px;
    background-color: rgb(236, 231, 231);
    width: 44%;
    margin: auto;
}

.icon {
    cursor: pointer;
}

.searchIcon {
    color: lightgreen;
}

.closeIcon {
    color: lightpink
}

.iconContainer {
    position: relative;
    height: 36px;
    width: 36px;
    background-color:  rgb(236, 231, 231);
    border-radius: 50%;
    display: inline-block;
}

.searchIconContainer {
    padding-left: 10px;
    left: -12px;
} 

.closeIconContainer {
    left: 11px;
    padding-left: 2px;
}

input {
    border: none;
    padding: 0 2px 0 0;
    background: transparent;
    width: 90%;
    font-size: 16px;
}

input:focus {
    border: none;
    outline: transparent;
}